[submodule "laboratoryFedorMicro.api-gateway"]
	path = laboratoryFedorMicro.api-gateway
	url = https://github.com/Barsu4ello/laboratoryFedorMicro.api-gateway
[submodule "audios"]
	path = audios
	url = git@github.com:Barsu4ello/laboratoryFedorMicro.audios.git
